* {
	font-family: cambria;	
}

.Formm {
	background-color: white;
	max-width: 50%;
	position: relative;
	top: 120px;
	height: 300px;
	margin: 0 auto;
	color: skyblue;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 25px black;
}
.Login {
	color: skyblue;	
}

.botao {
	background-color: skyblue;
	color: white;
	border: none;
	height: 35px;
	width: 150px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;	
}
.botao:hover{
	transition: 2s;
	color: skyblue;
	background-color: white;
	border: 1px solid skyblue;	

}
input {
	border: 1px solid skyblue;
	height: 25px;
	text-align: center;
	border-radius: 5px;
	font-family: roboto;
		
}
input:focus {
	box-shadow: 0 0 0 0;
	border: 1px solid skyblue;
	outline: 0;
}
